Day-1/AdvCalculatorClientApp/AdvCalculatorClientApp/Service References/ServiceProxies/Metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HSBCServicesApp.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HSBCServicesApp.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MathRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathRequest" nillable="true" type="tns:MathRequest" />
  <xs:complexType name="MathResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathResult" nillable="true" type="tns:MathResult" />
  <xs:complexType name="ArrayOfMathResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MathResult" nillable="true" type="tns:MathResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMathResult" nillable="true" type="tns:ArrayOfMathResult" />
</xs:schema>